* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}

body {
  background: radial-gradient(circle, #fff, #bbb);
}

.content {
  display: flex;
  flex-direction: column; /* De esta manera el main-axis es vertical */
  height: 100vh;
}

.header,
.main,
.aside,
.footer {
  padding: 20px;
}

.header {
  background: #cafffb;
  flex-basis: 60px; /* flex-basis, determina el tamaño del flex axis */
}

.main {
  background: #6866b4;
  flex-basis: 300px;
  flex-grow: 2; /* ESTO INDICA CUÁNTO CRECERÁ EL ELEMENTO EN RELACIÓN CON EL RESTO DE LOS ELEMENTOS */
  flex-shrink: 0; /* ESTO INDICA CUÁNTO SE ENCOGERÁ EL ELEMENTO EN RELACIÓN CON EL RESTO DE ELEMENTOS */
}

.aside {
  background: #483d8b;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 0;
}

.footer {
  background: #ee82ee;
  flex-grow: 1;
}

@media screen and (min-width: 700px) {
  .content {
    /* FLEX EJEMPLO flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    /* FLEX flex-basis: 100%;
    max-height: 60px; */
    grid-column: 1 / span 3;
  }

  .main,
  .aside {
    /* FLEX height: 530px; */
  }

  .main {
    /* FLEX flex-grow: 4;*/
    grid-row: 2 / 6;
    grid-column: 1 / 3;
  }

  .aside {
    /* FLEX flex-grow: 1; */
    grid-row: 2 / 6;
  }

  .footer {
    /* FLEX flex-basis: 100%; */
    grid-row: 6 / 7;
    grid-column: 1 / 4;
  }
}
