/* PROPIEDAD UNIVERSAL: SE ENCARGA DE SELECCIONAR TODO Y DARLE ESE VALOR */
/* * {
  color: red;
} */

/* PROPIEDAD DE TIPO: SE ENCARGA DE SELECCIONAR TODO EL TIPO QUE SE LE HAYA DADO */
/* h1 {
  color: red;
} */

/* PROPIEDAD DE CLASES: SE ENCARGA DE SELECCIONAR TODA LA CLASE QUE SE HAYA ESCRITO */
/* SI EN HTML SE ESCRIBE <h2 class="ejemplo-class">TEXTO EJEMPLO</h2>, ENTONCES */
/* .ejemplo-class {
  color: red;
} */

/* PROPIEDAD DE ID: SE ENCARGA DE SELECCIONAR AL QUE TENGA EL ID, SIIIIIN EMBARGO, A DIFERENCIA DE LA CLASE, EL ID ES UNICO */
/* SI EN HTML SE ESCRIBE <h2 id="ejemplo-id">TEXTO EJEMPLO</h2>, ENTONCES */
/* #ejemplo-id {
  color: red;
} */

/* PROPIEDAD POR ATRIBUTO: SE ENCARGA DE REALIZAR CAMBIOS DONDE SE ENCUENTRE EL ATRIBUTO */
/* SI EN HTML SE ESCRIBE <h2 id="ejemplo-id" ejemplo-atributo="equis de">TEXTO EJEMPLO</h2> */
/* [ejemplo-atributo='equis de'] {
  color: red;
} */

/* PROPIEDAD POR DESCENDIENTE: SE MODIFICA LO QUE ESTÁ DENTRO DE LO QUE SE INDICA */
/* SI EN HTML SE ESCRIBE <h2><p>EJEMPLO TEXTO</p></h2> */
/* h2 p {
  color: red;
} */

/* PROPIEDAD POR PSEUDO CLASES: BÁSICAMENTE SON FUNCIONALIDADES QUE SE AGREGAN DESPUÉS DE : COMO EL HOVER */
/* SI EN HTML SE ESCRIBE <h2>EJEMPLO TEXTO</h2> */
/* h2:hover {
  color:red;
} */
