* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}

body {
  background: radial-gradient(circle, #fff, #bbb);
}

.div-responsive {
  background: #c95;
}

@media screen and (min-width: 400px) and (max-width: 650px) {
  /* Esto significa una rule, es decir que si se cumple un minwidth o un max-width de tanto, pues la página trabajará diferente */
  .div-responsive {
    background: #f00;
  }
}

@media screen and (min-width: 650px) and (max-width: 800px) {
  .div-responsive {
    background: #0f0;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .div-responsive {
    background: #f90;
  }
}

@media screen and (min-width: 1200px) {
  .div-responsive {
    background: #000;
  }
}
