/* LAS MEDIDAS RELATIVAS SON REM Y EM, ESTAS SIRVEN PARA EL RESPONSIVE DESIGN; 1EM SON 16PX GENERALMENTE, ESTO DEPENDE DEL NAVEGADOR O DEL VALOR DETERMINADO POR NOSOTROS, ESTE SE DTERMINA DE LA SIGUIENTE MANERA */

/* --- DE ESTA MANERA SE DETERMINA EL VALOR DE 1EM --- */
/* .contact-form {
  font-size: 50px;
} */

/* .contact-form__h2 {
  font-size: 1em;
} */

/* --- FIN --- */

/* --- USO DEL VIEW PORT WIDTH (vw) QUE ES EL ANCHO DE LA PANTALLA DONDE 100 ES EL 100%, LO CUAL SIGNIFICA MEDIDAS RELATIVAS PARA LA RECURSIVIDAD --- */
/* --- USO DEL VIEW PORT HEIGHT (vh) QUE ES EL LARGO DE LA PANTALLA DONDE 100 ES EL 100%, LO CUAL SIGNIFICA MEDIDAS RELTIVAS PARA LA RECURSIVIDAD --- */
/* --- OJO!!! NO ES LO MISMO QUE USAR PORCENTAJES, YA QUE AL USAR POCENTAJES REALMENTE SE TRABAJA CON LA MEDIDA DE LA CAJA CONTENIDA --- */
* {
  padding: 0px;
  margin: 0px;
}

.contact-form {
  font-size: 25px;
  background-color: #000;
  width: 50vw;
  height: 50vh;
}
