* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 25px;
}

.caja {
  margin: 40px;
  width: 200px;
  height: 300px;
  border: 5px solid red;
  background-color: pink;
  cursor: pointer;
}

.caja:active {
  cursor: row-resize;
}
